node_modules/
build/
.vscode
.log
.DS_Store
**/.DS_Store
**/.DS_Store?
input-cache/
temp/
template/
output/
aggr-data-require.json
fsh-generated/
input/examples
input/pageContent/StructureDefinition-*
input/fsh/profiles.fsh
input/pageContent/3_example.md
madfsh_invocation.txt